/* Always set the map height explicitly to define the size of the div element that contains the map. */
#map {
    height: 50%;
    width: 50%;
    padding: 0;
    margin: 0;
}

/* Optional: Makes the sample page fill the window. */
html,
body,
main {
    height: 100%;
    padding: 0;
    margin: 0;
}